<div class=about>
  <p>Sanrockzz CodeSpace^ is a research & development workspace, designed primarily for evaluating latest tech stack,
    exploring web libraries, building reactive apps etc.
  </p>

  <p>TechStack Evaluations</p>
  <ul>
    <li>Micro Services</li>
    <li>Distributed System Designs</li>
    <li>Concurrent Programming</li>
    <li>Containerized Deployments (Docker)</li>
    <li>Jenkins Pipelines CI/CD</li>
    <li>ELK Stack</li>
    <li>Kafka Event Streaming</li>
    <li>REST APIs</li>
    <li>NoSQL stores</li>
  </ul>

  <p>
    Contributors are always welcomed to learn and share thier thoughts, ideas.
  </p>
</div>
