.oc-border {
  border: 1px solid blue;
}

.oc-background {
  background-color: #003666;
}

a:visited {
  color: teal
}

.navigation {
  color: teal
}

.oc-name {
  font-family: sans-serif;
  white-space: nowrap;
  font-size: -2em
}

.oc-designation {
  font-family: sans-serif;
  font-style: italic;
  white-space: nowrap;
  font-size: small
}

.h11 {
  font-size: 2em;
  color: teal
}

.body {
  background-color: #181818;
  margin-bottom: 50px;
  font-size: 1em !important;
  color: whitesmoke !important;
  font-family: sans-serif
}

footer {
  position: fixed;
  height: 50px;
  bottom: 30px;
  left: auto;
  right: auto;
  margin-bottom: 0px;
  margin: 0 auto;
  margin-left: 0%;
  margin-right: 0%;
  font-size: small;
  font-family: sans-serif;
  color: cadetblue
}

/**
.oc-img {
    margin-left: -10px;
    width: 60px;
    height: 60px;
}
*/
