.oc-border {
  border: 1px solid blue;
}

.oc-background {
  background-color: cornflowerblue;
}

.oc-name {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  white-space: nowrap;
}

.oc-designation {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  white-space: nowrap;
  font-size: small;
}

.body {
  background-color: #181818;
  margin-bottom: 50px
}

html * {
  font-size: 1em !important;
  color: whitesmoke !important;
}

footer {
  position: fixed;
  height: 50px;
  bottom: 30px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto

}

/**
.oc-img {
    margin-left: -10px;
    width: 60px;
    height: 60px;
}
*/
